TELEGRAM_BOT_TOKEN=replace_me
TELEGRAM_CHAT_ID=replace_me
OURDOMAIN_URL=https://southeast-thisisourdomain.securerc.co.uk/onlineleasing/ourdomain-amsterdam-south-east/floorplans.aspx
SEND_EXISTING_ON_FIRST_RUN=false
STATE_PATH=ourdomain_state.json
HEADLESS=true
BROWSER_LOCALE=en-GB
SLOW_MO_MS=0
CHECK_INTERVAL_SECONDS=60
